nav {
    background: lightblue;
    padding: 15px;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav a {
    display: block;
    width: 60px;
}

.navLeft {
    float: left;
}

.navLeft ul li {
    float: right;
}

.navRight ul li {
    float: right;
}